.ngx-datatable.material.datatable-header  {
  color: red;
  background-color: blue !important;
}

.ngx-datatable.material .datatable-body-cell {
  background-color: blue;
}

/*
.ngx-datatable.material:not(cell-selection) {
  background-color: red;
}
*/

